#Este archivo contiene las llaves de acceso a cada uno de los servicios que usa el sistema 

#INSTRUCCIONES: 
1. Copiar archivo y renombrarlo como ".env"(sin el .example)
2. Llenar cada key con el valor que da cada plataforma 
3. NUNCA compartir el .env
#-------------------------------------
#Esta es una plantilla 
#-------------------------------------

# Anthropic - Motor de IA del sistema 
ANTHROPIC_API_KEY = 


# Apify - Herramienta de busqueda de google maps, para encontrar los negocios locales que necesitan un sitio nuevo 
APIFY_API_KEY = 


# Instantly.AI - Plataforma de envío de correos 
INSTANTLY_API_KEY = 


# Telegram - Notificaciones en tiempo real 
#@BotFather in Telegram 
TELEGRAM_BOT_TOKEN =

TELEGRAM_CHAT_ID = 

#Considerar Discord para mayor organización 
#
DISCORD_SERVER_ID = 

#VERCEL - Publicación automática de sitios web 
#https://vercel.com/account/tokens
VERCEL_TOKEN = 

#UNSPLASH - Banco de imagenes 
#https://unsplash.com/developers
UNSPLASH_ACCESS_KEY = 
